.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: lighter;
    font-size: 1.4em;
    background-color: darkblue;
    color: white;
    flex: 1;
    outline: 1px solid white;
}

.operator {
    background-color: blue;
    color: white; 
}