.clear-button {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter; 
    font-size: 1.4em;
    background-color: #2458B3;
    color: white; 
    flex: 1;
    outline: 1px solid white; 
    cursor: pointer;
    user-select: none;
    border-radius: 6px; 
}

.clear-button:hover {
    filter: brightness(130%);
}