.clear-button {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter; 
    font-size: 1.4em;
    background-color: midnightblue;
    color: white; 
    flex: 1;
    outline: 1px solid white; 
    cursor: pointer;
    user-select: none;
    border-radius: 6px; 
}

.clear-button:hover {
    background-color: rgb(1, 1, 71);
}